<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>


<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://drive.google.com/file/d/1aJ0L2Fabjguw6Nl4TmoMDCG__XPEUbn7/view">My CV</a>
</li>



<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.flickr.com/photos/lequang2019">My Gallery</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/vuquangnguyenhcmus/">Here My Linkedin <i class="fa fa-coffee text-danger"></i></a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
